
<main class="container">
  <div class="row justify-content-center">
    <div class="col-12 align-items-center text-center mb-4">
      <h1>Hatem Basheer</h1>
      <p>Founder at <a href="http://enigmatechlab.com" target="_blank" rel="Enigma Technology Labs">Enigma Technology Lab</a></p>
    </div>

    <div class="col-12 mb-3">
      <h2>Me</h2>
      <p>I'm a software developer with a strong background in mathematics. My current focus is on Python and testing, but I've a history of being involved in diverse areas of back-end work in a wide variety of languages. Historically I've focused particularly on building, developing and maintaining data-centric production systems.</p>
    </div>

    <div class="col-12 mb-3">
      <h2>Employment</h2>
      <p>I'm a software developer with a strong background in mathematics. My current focus is on Python and testing, but I've a history of being involved in diverse areas of back-end work in a wide variety of languages. Historically I've focused particularly on building, developing and maintaining data-centric production systems.</p>
    </div>
  </div>
</main>


